#navBar {
    display: flex;
    flex-direction: column;
    height: 25%;
    background-color: chartreuse;
}

.navlogo {
    justify-content: flex-start;
    align-items: center;
    width: 25%;
}

.navigation {
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    align-items: space-evenly;
}

