body {
    margin: o;
    padding: 0;
}

header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    position: relative;
    z-index: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
}

.rectangle1 {
    position: fixed;
    z-index: -1;
    width: 300%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #ffffff;
}

.rectangle2 {
    content: "";
    position: absolute;
    z-index: -2;
    height: 100%;
    left: -300%;
    right: -300%;
    background-color: #E5FF16;
    transform: translateY(50%);
}
  
  nav > a:first-of-type > img {
    justify-content: flex-start;
    width: 100px;
  }

nav > a:not(:first-of-type) {
    padding: 5px 50px;
    border-radius: 50px;
    background-color: #C99EED;
    color: #333;
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
  }

  .helloCircle {
    padding: 5px 100px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 175px;
    z-index: 1;
}

h1 {
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #333333;
}

p {width: 746px;
    height: 128px;
    flex-shrink: 0;
    color: #333333;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;}

h2 {
        width: 234px;
        height: 33px;
        font-family: 'Manrope', sans-serif;
        font-size: 48px;
        font-weight: 500;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
}

#heroSection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh; 
    color: #fff; 
}

#heroSection h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
}

#heroSection p {
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
    transform: translateY(-50%);
    font-size: 1.5em;
}

#heroSection img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;
    margin: 0 10px;
    padding: 10px;
}

.card h1 {
    font-size: 24px;
    font-weight: bold;
}

.card p {
    font-size: 16px;
    text-align: center;
}

.card button {
    display: inline-flex;
    height: 53px;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #333;
    background: #FFF;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.08);
}

.card img {
    max-width: 100%;
    height: auto;
}

#BCKUnited {
    width: 430px;
    height: 500px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #EDEDED 0%, #F9F9F9 41.4%);
}

#Carry-on {
    width: 430px;
    height: 500px;
    flex-shrink: 0;
    background: #F9F9F9;
}

#Edgov {
    width: 430px;
    height: 500px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #EDEDED 0%, #F9F9F9 41.4%);
}

#BCKHighlight {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 1447px;
    height: 822px;
    flex-shrink: 0;
}

#FromPrintToWeb {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #E9DDD7;
    width: 1444px; 
    height: 1024px;
    flex-shrink: 0;
}

.textbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#categoryGrid {
    margin: 0px 10%;
    display: grid;
    padding: 4px;
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:  
        "edGov edGov typesetting wireframe wireframe"
        "edGov edGov sign deboss deboss"
        "letterpress letterpress BCKiphone deboss deboss";
}
      
     #edGov {
        grid-area: edGov;
        background-image: url("ipad ed.gov gallery.png");
      
      }
      #typesetting {
        grid-area: typesetting;
        background-image: url("typesetting.png");
      }
      
      #wireframe {
        grid-area: wireframe;
        background-image: url("Ed.gov iphone mock up HOME.png");
      }
      
      #sign {
        grid-area: sign;
        background-image: url("signage.png");
      }
      
      #deboss {
        grid-area: deboss;
        background-image: url("blind emboss.png");
      }
      
      #letterpress {
        grid-area: letterpress;
        background-image: url("letterpress\ copy.png");
      }

      #BCKiphone {
        grid-area: BCKiphone;
        background-image: url("BCK Mockup iphone.png");
      }

      .categoryGridArea {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 5px;
        cursor: pointer;
        display: grid;
        align-content: end;
      }

    .footer {
            bottom: 0;
            left: 0;
            z-index: 10;
        }

      .footer #footerlogo {
        width: 99.815px;
        height: 55px;
        flex-shrink: 0;
      }

      .footer p {
        color: #333;
        text-align: center;
        font-family: 'Manrope', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .footer #email {
        width: 69.915px;
        height: 55px;
        flex-shrink: 0;
      }

      .footer #ig {
        width: 55px;
        height: 55px;
        flex-shrink: 0;
      }

      .footer #linkedIn {
        width: 53.947px;
        height: 53.779px;
        flex-shrink: 0;
        fill: #333;
      }

      .footer #behance {
        width: 88.611px;
        height: 55px;
        flex-shrink: 0;
      }

      #footerbar {
        width: 1446px;
        height: 123px;
        flex-shrink: 0;
        background: #E5FF16;
      }